#root {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 98%;
}

@media screen and (max-width: 768px) {
  html {
      font-size: 68%;
  }
}

@media screen and (max-width: 425px) {
  html {
      font-size: 36%;
  }
}

@media screen and (max-width: 320px) {
  html {
      font-size: 30%;
  }
}